<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="if" class="ion-text-center" (click)="logout()">
      <b>IFinanças na área!</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label color="if">Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item><br>
    
  <dash-card
    valor = {{conta.pagar.valor}}
    tipo = "pagar"
    num = {{conta.pagar.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.receber.valor}}
    tipo = "receber"
    num = {{conta.receber.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.saldo.valor}}
    tipo  = "saldo"
    num = {{conta.saldo.num}}
  ></dash-card>
  

    <div id="btnMenu">
      <ion-button fill="clear" [routerLink]="['/contas/pagar']" expand="block" color="if">Contas a Pagar</ion-button>
      <ion-button fill="clear" [routerLink]="['/contas/receber']" expand="block" color="if">Contas a Receber</ion-button>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button fill="clear" [routerLink]="['/contas/cadastro']" expand="block" color="if"><b>Cadastrar nova</b></ion-button>
  </ion-toolbar>
</ion-footer>

