<ion-header>
  <ion-toolbar>
    <ion-title>Nova Conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  
  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro Comercial" autfocus="true"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="document" color="if" slot="start"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descrição"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="wallet" color="if" slot="start"></ion-icon>
      <ion-input type="number" formControlName="valor" placeholder="Descrição"></ion-input>
    </ion-item><br><br>

    <ion-item>
      <ion-label color="if">Vencimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="date"></ion-datetime>
    </ion-item><br>

    <ion-list class="radioStatus">
      <ion-radio-group formControlName="tipo">
        <ion-list-header>
          <ion-label>Tipo da Conta</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Pagar</ion-label>
          <ion-radio slot="start" value="pagar"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Receber</ion-label>
          <ion-radio slot="start" value="receber" checked></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    

    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>
</form>


